/* Section carousel */

.section-carousel {

  & .carousel-inner {
    height: 500px;

    @media (max-width: $screen-md-max) {
      height: auto;
    }

  }

  & .carousel-indicators li {
      width: 14px;
      height: 14px;
      background-color: $white;
  }

  & .carousel-indicators .active {
      width: 16px;
      height: 16px;
      background-color: $brown;
  }

  & .carousel-indicators {

    @media (max-width: $screen-md-max) {
      visibility: hidden;
    }

  }

}

/* Section offer */

.section-offer {
  background-color: $brown;
  text-align: center;

  & h2 {
    color: $white;
    font-size: 33px;
    font-family: $PTserifItalic;
    padding-bottom: 25px;
  }

  & h2::after {
    content: '';
    display: block;
    width: 25%;
    border-bottom: 1px solid;
    margin: 20px auto;
    -webkit-filter: drop-shadow(0px 3px 3px $black);
    -ms-filter    : "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#444')";
  }

  & .offer-container {
    background: url("../../img/offer.jpg") no-repeat center center;
    background-size: 90%;
    height: 355px;

      & .circle-wrap {
        display: flex;
        justify-content: flex-end;
        padding: 25px 40px;

        & .circle {
          width: 124px;
          border: 1px solid $white;
          border-radius: 50%;
          padding: 30px;
          display: flex;
          color: $blue;
          font-size: 22px;
          font-family: $PTserifItalic;
          background-color: $white;
          opacity: 0.5;
        }

      }

      & .rectangle-wrap {
        height: 40%;
        position: absolute;
        bottom: 0;
        left: 5%;
        right: 5%;
        display: flex;
        justify-content: center;
        background-color: $blue;
        opacity: 0.5;

        & .rectangle {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 50%;
          color: $white;
          font-size: 18px;
          font-family: $PTserifItalic;
        }

        & h3 {
          font-size: 30px;
        }

      }
  }

  & .btn-offer-wrap {
    padding: 50px 0 20px 0;

    & .btn-offer {
      background-color: transparent;
      border: 1px solid $white;
      color: $white;
      font-size: 17px;
      font-family: $PTserifItalic;
      border-radius: 10px;
      transition: ease-in-out 0.2s;
    }

    & .btn-offer:hover {
      color: $white-hover;
      border-color: $white-hover;
      transition: ease-in-out 0.2s;
    }
  }

}

/* Section accommodation */

.section-accommodation {
  background-color: $white;
  text-align: center;

  & h2 {
    color: $grey;
    font-size: 33px;
    font-family: $PTserifItalic;
    padding-bottom: 25px;
  }

  & h2::after {
    content: '';
    display: block;
    width: 25%;
    border-bottom: 1px solid;
    margin: 20px auto;
    -webkit-filter: drop-shadow(0px 3px 3px $black);
    -ms-filter    : "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#444')";
  }

  & p {
    color: $black;
    font-size: 20px;
    font-family: $PTserifItalic;
    text-align: left;
  }

}

/* Section repeat */

.section-repeat {
  padding: 80px 0;
  background: url("../../img/bg_vzor.jpg") repeat;

  & .row {
      padding: 25px 110px 0;
  }

  & .repeat-text-container {
    background: $white;

    & h3 {
      color: $grey;
      font-size: 33px;
      font-family: $PTserifItalic;
    }

    & p {
      color: $black;
      font-size: 20px;
      font-family: $PTserifItalic;
    }

  }

  & .repeat-sky-container {
    height: 132px;
    background: url("../../img/sky.jpg") no-repeat center center;
    background-size: cover;
  }

  & .repeat-towel-container {
    height: 132px;
    background: url("../../img/towel.jpg") no-repeat center center;
    background-size: cover;
  }

}

/* Section booking */

.section-booking {
  padding-bottom: 80px;
  background-color: $brown;
  text-align: center;

  & h2 {
    color: $white;
    font-size: 33px;
    font-family: $PTserifItalic;
    padding-bottom: 25px;
  }

  & h2::after {
    content: '';
    display: block;
    width: 25%;
    border-bottom: 1px solid;
    margin: 20px auto;
    -webkit-filter: drop-shadow(0px 3px 3px $black);
    -ms-filter    : "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#444')";
  }

  & form {
    display: flex;
    justify-content: center;
    flex-direction: column;

    & span:nth-child(1) {
      display: flex;
      flex-direction: column;

      & input {
        width: 52%;
        margin: 10px auto;
        padding: 13px;
        background-color: $gold;
        border-radius: 15px;
        font-size: 22px;
        color: $grey;
      }
    }

    & span:nth-child(2) {
      display: flex;
      justify-content: center;
      margin-top: 10px;

      & input {
        width: 25%;
        padding: 13px;
        margin: 0 9px;
        background-color: $gold;
        border-radius: 15px;
        font-size: 22px;
        color: $grey;
      }

      & input[type="submit"] {
        color: $black;
        background-color: $white;
        font-family: $PTserifItalic;
      }

      & input[type="submit"]:hover {
        background-color: $white-hover;
        transition: ease-in-out 0.2s;
        color: $white;
      }

    }

    & input:focus {
      outline: unset;
    }

  }

}

/* Section about */

.section-about {
  padding-bottom: 150px;
  background-color: $sand;
  text-align: center;

  & img {
    padding-bottom: 25px;
  }

  & img::after {
    content: '';
    display: block;
    width: 25%;
    border-bottom: 1px solid;
    margin: 20px auto;
    -webkit-filter: drop-shadow(0px 3px 3px $black);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#444')";
  }

  & .row:nth-child(1) {
    padding: 0 20%;
  }

  & p {
    color: $grey;
    font-size: 20px;
    font-family: $PTserifItalic;
  }

  & .map {
    padding: 30px 0;
  }

  & .social-wrap {
    padding: 20px 0;
  }

  & .social span {
    padding: 13px;
    margin: 2px;
    background-color: $white;
    border-radius: 10px;

  }

}