// Colors
$black : #000;
$white : #fff;
$white-hover : #aaa;
$blue  : #151a4a;
$brown : #483f38;
$grey  : #77787b;
$gold  : #c5b7a2;
$sand  : #c5b7a2;

// Breakpoints
$mobile: "max-width: 549px";
$tablet: "min-width: 550px";